{% extends "login.html" %}


{% block content %}
    <h2>Register <a href="{% url 'login' %}">Login</a></h2>
    <p class="text-danger">{{ error_text }}</p>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.html_name }}">{{ field.label }}:</label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
{% endblock %}