<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 id="demo">Change text form backend side</h1>
<button class="mybutton">click me</button>
<script>
    var title = $('#demo');
    $(".mybutton").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/test/',
            type: "GET",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, errmsg, err) {

                console.log(xhr, errmsg, err);

            } // end error: function
        });
    });
</script>

</body>
</html>